.plant-detail-sm {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.sun-icons > *,
.moisture-icons > * {
  padding: 1rem;
}
